:root
{
    --colorbackground: #f7f1e3;
    --colorfont: darkolivegreen;
    --titlesize: 2rem;
    --fontsize: 1.6rem;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html
{
    font-size: 62.5%;
}
body
{
    background-color: var(--colorbackground);
    color: var(--colorfont);
    font-family: Merriweather;
    width: 100vw;
    height: 100vh;
    font-size: var(--fontsize);
}
.header1
{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    margin-left: 2px;
    align-items: center;
    width: auto;
    justify-content: space-between;
}
.header-section
{
    display: inline-block;
    flex-wrap: wrap;
}
.header-link
{
    display: inline-flex;
    flex-wrap: wrap;
    min-height: 12px;
    min-width: 12px;
    position: relative;
    text-align: center;
}
.header-link__itembar
{
    display: inline-flex;
    font-size: var(--titlesize);
    flex-wrap: wrap;
    margin: 3px;
}
.header-link__itembar a 
{
    color:var(--colorfont);
    text-decoration:none;
}
.header-link__itembar a:hover
{
    color: blue;
}
.header-link__itembar a:active
{
    color: red;
}
.header-link__itembar a::after
{
    content: "|";
}
.titulo, .title2, .trayectoria0
{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    border: 2px solid gray;
    border-radius: 15px;
    justify-content: center;
    padding: 20px 0px;
    text-align: center;
}
.cedula
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 20px 0px;
}
.cedula-fill
{
    background-color: transparent;
    border: gray solid 2px;
    border-radius: 5px;
    padding: 5px;
    flex-wrap: wrap;
}
.cedula-stylebuttom
{
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 5px;
    flex-wrap: wrap;
}
.solutions, .trayect, .blog0, .contactanos1, .social, .subtitles-footer, .subtitles-footer1
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-content: center;
    margin: 10px 10px;
}
.soluciones1, .soluciones2, .soluciones3, .soluciones4, .trayectoria0, .trayectoria1, .trayectoria2, .blog0, .blog1, .blog2, .parrafos
{
    flex-wrap: wrap;
    margin: 10PX 10px;
    text-align: center;
}
.contactanos2
{
    background-color: transparent;
    border: gray solid 2px;
    border-radius: 5px;
    padding: 5px;
    flex-wrap: wrap;
}
.contactanos3
{
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 5px;
    flex-wrap: wrap;
}
.instagram, .twitter, .facebook
{
    display: inline-block;
    flex-wrap: wrap;
    width: 35px;
    height: 35px;
    background-size: 35px 35px;
    margin: 0px 10px;
}

@media screen and (max-width:1024px)
{
    body
    {
        ;
    }
}
@media screen and (max-width:767px)
{
    .headera
            {
                display: block;
                height: auto;
            }
    .headera ol
            {
             display: flex;
             list-style: none;
            }
    .headera ol li
            {
             height: 30px;
             padding: 10px;
             justify-content: center;
            }
    .headera a
            {
             justify-content: center;
            }
    .headerlogo
            {
            text-align: center;
            }
}
@media screen and (max-width:480px)
@media screen and (max-width:320px)